webinars/ukds-nfod-bcss-2020-05-12.pptx
webinars/ukds-nfod-bcss-notes-2020-05-12.ipynb
code/downloads/
code/bcss-code-2020-05-06.ipynb
code/bcss-notebook-four-extended-2020-02-12.ipynb
code/convert-data-structures-2010-03-16.ipynb
outlines
.ipynb_checkpoints